<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<input type="search"  placeholder="Search" aria-label="Search" id="searchAll" name="searchAll">
<button type="submit" onclick="search();">Search</button>
<table border="1">
    <tr>
        <th>title</th>
        <th>content</th>
        <th>category</th>
        <th>time</th>
    </tr>
    <tbody id="result"></tbody>
</table>
</body>
<script src="/js/search.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</html>