<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<style>
    body {
        margin-top: 20px;
        background: #f3f3f3;
    }

    .page-timeline {
        margin: 30px auto 0 auto;
        position: relative;
        max-width: 1000px;
    }

    .page-timeline:before {
        position: absolute;
        content: '';
        top: 0;
        bottom: 0;
        left: 30px;
        right: auto;
        height: 100%;
        width: 3px;
        background: #3498db;
        z-index: 0;

        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    }


    .vtimeline-content {
        margin-left: 30px;
        background: #fff;
        border: 1px solid #e6e6e6;
        padding: 35px 20px;
        border-radius: 3px;
        text-align: left;

        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    }

    .vtimeline-content h3 {
        font-size: 1.5em;
        font-weight: 600;
        display: inline-block;
        margin: 0;
    }

    .vtimeline-content p {
        font-size: 0.9em;
        margin: 0;
    }

    .vtimeline-point {
        position: relative;
        display: block;
        vertical-align: top;
        margin-bottom: 30px;
    }


    .vtimeline-date {
        width: 260px;
        text-align: right;
        position: absolute;
        left: 0;
        top: 10px;
        font-weight: 400;
        color: #374054;
    }

    .post-meta {
        padding-top: 15px;
        margin-bottom: 20px;
    }

    .post-meta li:not(:last-child) {
        margin-right: 10px;
    }

    h3 {
        font-family: "Montserrat", sans-serif;
        color: #252525;
        font-weight: 700;
        font-variant-ligatures: common-ligatures;
        margin-top: 0;
        letter-spacing: -0.2px;
        line-height: 1.3;
    }

    .mb20 {
        margin-bottom: 20px !important;
    }
</style>
<body>
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="margin-top: -20px;">
    <a class="navbar-brand" th:href="@{/blog}">My Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto" style="margin-top: 8px">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/blog}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{blog/create}">Add New</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Service
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" th:href="@{/blog/create}">Add New Blog</a>
                    <a class="dropdown-item" th:href="@{/category/create}">Add New Category</a>
                    <a class="dropdown-item" th:href="@{/category/list}">Display CategoryList</a>
                </div>
            </li>
            <!--            <li class="nav-item">-->
            <!--                <div class="filter-group">-->
            <!--                    <label class="nav-link" style="display: inline-block">Order</label>-->
            <!--                    <label style="margin-right: 20px">-->
            <!--                        <select class="form-control" th:attr="name='order-select', onchange='gotoUrl(this.value);'">-->
            <!--                            <option></option>-->
            <!--                            <option th:value="@{/blog/list(order='timeAsc')}">Time Ascending</option>-->
            <!--                            <option th:value="@{/blog/list(order='timeDesc')}">Time Descending</option>-->
            <!--                            <option th:value="@{/blog/list(order='titleAsc')}" >Title A-Z</option>-->
            <!--                            <option th:value="@{/blog/list(order='titleDesc')}">Title Z-A</option>-->
            <!--                        </select>-->
            <!--                    </label>-->
            <!--                </div>-->
            <!--            </li>-->


        </ul>
                <div class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" id="searchAll" aria-label="Search" name="searchAll">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit" onclick="search();">Search</button>
                </div>
        <div class="form-inline my-2 my-lg-0">
            <form th:action="@{/blog/search}" th:object="${blog}">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                       name="searchAll">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search1</button>
            </form>
        </div>
    </div>
</nav>


<!--Content-->
<div class="page-timeline">
    <div id="result">
        <div class="vtimeline-block" th:each="b: ${blog}" style="margin-bottom: 50px">
            <div class="vtimeline-content">
                <!--            <a href="#"><img th:src="@{'/getImg/'+${b.image}}" alt="" class="img-fluid mb20"></a>-->
                <br>
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                     class="bi bi-card-heading" viewBox="0 0 16 16">
                    <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                    <path d="M3 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0-5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-1z"/>
                </svg>
                <a href="#"><h3 th:text="${b.title }"></h3></a>
                <hr>
                <ul class="post-meta list-inline">
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                             class="bi bi-file-font-fill" viewBox="0 0 16 16">
                            <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM5.057 4h5.886L11 6h-.5c-.18-1.096-.356-1.192-1.694-1.235l-.298-.01v6.09c0 .47.1.582.903.655v.5H6.59v-.5c.799-.073.898-.184.898-.654V4.755l-.293.01C5.856 4.808 5.68 4.905 5.5 6H5l.057-2z"/>
                        </svg>
                        <span th:text="${b.content}"></span><br>
                    </li>
                    <hr>
                    <li class="list-inline-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                             class="bi bi-file-code-fill" viewBox="0 0 16 16">
                            <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM6.646 5.646a.5.5 0 1 1 .708.708L5.707 8l1.647 1.646a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708l2-2zm2.708 0 2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 8 8.646 6.354a.5.5 0 1 1 .708-.708z"/>
                        </svg>
                        <span th:text="${b.category.categoryName}"></span>
                    </li>
                    <hr>
                    <li class="list-inline-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                             class="bi bi-calendar" viewBox="0 0 16 16">
                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                        </svg>
                        <span th:text="${b.time}"></span>
                    </li>
                    <hr>
                    <li class="list-inline-item">
                        <button style="padding: 10px;background: red; margin-right: 10px" type="submit"
                                class="btn btn-red">
                            <a style="color: white" th:href="@{/blog/delete?(id=${b.id})}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                     class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                                </svg>
                            </a></button>
                        <button style="padding: 10px;background: dodgerblue" type="submit" class="btn btn-red"><a
                                style="color: white" th:href="@{/blog/update?(id=${b.id})}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                 class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                                <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                                <path fill-rule="evenodd"
                                      d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
                            </svg>
                        </a></button>
                    </li>
                </ul>
                <a href="#" class="btn btn-outline-secondary btn-sm">Read More</a>
            </div>
        </div>
    </div>
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item" th:if="${page.hasPrevious() or page.getNumber() > 1}"><a class="page-link"
                                                                                     th:href="@{/blog(size=${page.size}, page=1)}">First</a>
        </li>
        <li class="page-item"><a class="page-link" th:if="${page.hasPrevious()}"
                                 th:href="@{/blog(size=${page.size}, page=${page.getNumber()})}"
                                 th:text="${page.getNumber()}"></a>
        </li>
        <li class="page-item"><a class="page-link" th:if="${page.hasNext() || page.hasPrevious()}"
                                 th:href="@{/blog(size=${page.size}, page=${page.getNumber() + 1})}"
                                 th:text="${page.getNumber() + 1}"></a></li>
        <li class="page-item"><a class="page-link" th:if="${page.hasNext()}"
                                 th:href="@{/blog(size=${page.size}, page=${page.getNumber() + 2})}"
                                 th:text="${page.getNumber() + 2}"></a></li>
        <li class="page-item" th:if="${page.hasNext()}"><a class="page-link"
                                                           th:href="@{/blog(size=${page.size}, page=${page.getTotalPages()})}">Last</a>
        </li>
    </ul>

</nav>
<script type="text/javascript">
    function gotoUrl(url) {
        window.location.href = url;
    }


</script>

<script src="/js/search.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>

