<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Image</title>
</head>
<body>
<h1>Create Image</h1>
<form th:action="@{/image/create}" method="post" th:object="${image}" modelAttribute="">
  <table>
    <tr>
      <td>Start</td>
      <td><input type="text" th:field="*{start}"></td>
    </tr>
    <tr>
      <td>Author</td>
      <td><input type="text" th:field="*{author}"></td>
    </tr>
    <tr>
      <td>Feedback</td>
      <td><input type="text" th:field="*{feedback}"></td>
    </tr>
    <tr>
      <td>Like</td>
      <td><input type="text" th:field="*{likes}"></td>
    </tr>
    <tr>
      <td><input type="reset" value="Reset"></td>
      <td><input type="submit" value="Register"></td>
    </tr>
  </table>
</form>
</body>
</html>