<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Display Music</title>
</head>
<body>
<h1>Display Product</h1>
<table border="1">
  <tr>
    <th>Name</th>
    <th>Singer</th>
    <th>Category</th>
    <th>File</th>
    <th>Action</th>
  </tr>
  <tr th:each="m: ${music}">
    <td th:text="${m.name}"></td>
    <td th:text="${m.singer}"></td>
    <td th:text="${m.category}"></td>
    <td th:text="${m.file}"></td>
    <td><a th:href="@{/music/delete/{id}(id=${m.id})}">Delete</a>
    </td>
  </tr>
</table>

</body>
</html>